.spinner-icon {
  animation: spin 1s linear infinite;
  height: 1.25rem;
  width: 1.25rem;
}

.spinner-track {
  opacity: 0.25;
  stroke: currentColor;
  stroke-width: 4;
}

.spinner-head {
  opacity: 0.75;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
